.video-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;

  }
  .video-wrapper video {
    border-radius: 10px;  /* Set the desired corner radius */
    justify-content: center;
  }


.emergency-icon{
    width: 40px;

}

.impression-icon{
    width: 40px;
}

.text-container {
    justify-content: center;
    width: 100px; 
  }

  